    <div>
    <label>Pregunta: </label>
    <input type="text" name="quiz[pregunta]" value="<%= quiz.pregunta %>" />
    </div>
    <div>
    <label>Respuesta: </label>
    <input type="text" name="quiz[respuesta]" value="<%= quiz.respuesta %>" />
    </div>
    <a href="/quizes"><input type="button" value="Cancelar" /></a>
    <input type="submit" value="OK" />